<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  {% include "partials/head.html" %}
</head>
<body>
  {% include "partials/nav_forms.html" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "partials/footer_forms.html" %}
</body>
</html>
