<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm sticky-top py-2">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center fw-bold" href="/">
            <img src="/assets/images/logo.png" width="64" height="64" class="me-2" alt="">
            <span class="navbar-title">Vulpine Solutions - Checklist View</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="colslapse" data-bs-target="#secureFormsNav"
            aria-controls="secureFormsNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse flex-grow-0" id="secureFormsNav">
            <ul class="navbar-nav me-auto ms-lg-4">
                <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/forms/">Forms Main</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="secureForms" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Forms List</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="secureForms">
                        <li><a class="dropdown-item" href="/forms/hipaa_review/">HIPAA Review</a></li>
                        <li><a class="dropdown-item" href="/trust/security-baseline/">Security Baseline</a></li>
                        <li><a class="dropdown-item" href="/trust/privacy/">Cyber Insurance</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>