---
permalink: "feed.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{ "VulpineMSP Blog" | striptags | escape }}</title>
    <link>https://vulpinemsp.com/</link>
    <description>{{ "Latest posts from Vulpine Solutions" | striptags | escape }}</description>
    <language>en</language>

    {% set posts = collections.post | reverse | slice(0, 20) %}
    {% for post in posts %}
      <item>
        <title>{{ (post.data.title or "Post") | striptags | escape }}</title>
        <link>https://vulpinemsp.com{{ post.url }}</link>
        <guid>https://vulpinemsp.com{{ post.url }}</guid>
        <pubDate>{{ post.date | date("ddd, DD MMM YYYY HH:mm:ss ZZ") }}</pubDate>
        <description><![CDATA[{{ post.templateContent | safe }}]]></description>
      </item>
    {% endfor %}
  </channel>
</rss>